<!-- HTML 5 Ad Template from DoubleClick by Google -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript">
      Enabler.setFloatingPixelDimensions(970, 90);
    </script>
    <!-- do not remove - contains default styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="container">
      <div id="collapsed-container">
        <div data-state="collapsed" id="collapsed-content">
          <!-- collapsed content here -->
        </div>
      </div>
      <div id="expanded-container">
        <div id="expanded-content">
          <!-- expanded content here -->

          <!-- uncomment to add video, video MUST be above exit div to use controls -->
          <!--<div id="video-wrapper">
                    <video controls muted id="video"></video>
                </div> -->
          <div data-action="exit" id="exit"></div>
          <div data-state="collapsed" id="close-button"></div>
        </div>
      </div>
    </div>
  </body>
</html>
