@font-face {
  font-family: "Italian Plate No1 Expanded";
  src: url("assets/ItalianPlateNo1Expanded-Bold.woff2") format("woff2"),
    url("assets/ItalianPlateNo1Expanded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Italian Plate No1 Expanded";
  src: url("assets/ItalianPlateNo1Expanded-Regular.woff2") format("woff2"),
    url("assets/ItalianPlateNo1Expanded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mary Ann";
  src: url("assets/maryann-bold.woff2") format("woff2"),
    url("assets/maryann-bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

body * {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: "Mary Ann";
  font-weight: 500;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

img {
  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

#ad-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 250px;
  border: 1px solid #000;
  margin: auto;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
}

#sainsburys {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 500;
}

@keyframes slide-out-copy {
  from {
    transform: translate(-50%, 0);
  }

  to {
    transform: translate(-600px, 0);
  }
}
@keyframes slide-out-images {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-600px);
  }
}

@keyframes slide-in-images2 {
  from {
    transform: translate(600px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#nectarprices-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nectarprices-ends {
  font-family: "Italian Plate No1 Expanded";
  font-size: 12px;
  font-weight: bold;
  color: #7202ed;
  margin-top: 5px;
}

#offer-container {
  position: absolute;
  top: 90px;
  left: 40px;
  transform: scale(0);
  animation: scale-up 0.25s 3.75s ease-in-out forwards,
    slide-out-images 0.75s 6s ease-in-out forwards;
  z-index: 200;
}
/* #offer {
  position: absolute;
  top: 61px;
  left: 35px;
  transform: scale(0);
  animation: scale-up 0.25s 3.75s ease-in-out forwards,
    slide-out-images 0.75s 6s ease-in-out forwards;
} */

#product {
  position: absolute;
  top: 30px;
  left: 130px;
  transform: translate(600px, 0);
  animation: slide-in-images2 0.75s 3s ease-in-out forwards,
    slide-out-images 0.75s 6.1s ease-in-out forwards;
  z-index: 100;
}

#drinkaware {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  animation: fade-in 0.25s 3.75s ease forwards, fade-out 0.25s 6s ease forwards;
}

#exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#copy-container {
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
}

.copy-overflow {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.copy {
  transform: translateY(100%);
  animation: copy-slide-up 0.5s 6.75s ease forwards;
  font-size: 23px;
  color: #ec8c02;
  line-height: 1.2;
}

@keyframes copy-slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

/* VARIANT IMAGES AND ANIMATON */

@keyframes main-image-rotate1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes main-image-rotate2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#main-text1 {
  position: absolute;
  opacity: 0;
  animation: fade-in 0.5s 0.5s ease forwards,
    slide-out-copy 0.75s 3.2s ease forwards;
  z-index: 300;
}
#main-text2 {
  position: absolute;
  opacity: 0;
  animation: fade-in 0.5s 0.5s ease forwards,
    slide-out-copy 0.75s 3.1s ease forwards;
  z-index: 300;
}

#image1 {
  position: absolute;
  opacity: 0;
  animation: main-image-rotate1 1s forwards infinite step-end,
    fade-in 0.5s 0.5s ease forwards, slide-out-images 0.75s 3.3s ease forwards;
}

#image2 {
  position: absolute;
  opacity: 0;
  animation: main-image-rotate2 1s forwards infinite step-end,
    fade-in 0.5s 0.5s ease forwards, slide-out-images 0.75s 3s ease forwards;
}

#image3 {
  position: absolute;
  transform: translateX(600px);
  animation: slide-in-images2 0.75s 6s ease-in-out forwards,
    main-image-rotate1 1s 6.75s forwards infinite step-end;
}

#image4 {
  position: absolute;
  transform: translateX(600px);
  animation: slide-in-images2 0.75s 6s ease-in-out forwards,
    main-image-rotate2 1s 6.75s forwards infinite step-end;
}

/* CHOPPED */

.chopped#main-text1 {
  top: 71px;
  left: 50%;
  transform: translateX(-50%);
}

.chopped#main-text2 {
  top: 71px;
  left: 50%;
  transform: translateX(-50%);
}

.chopped#image1 {
  bottom: 123px;
  left: 108px;
}

.chopped#image2 {
  top: 172px;
  left: 22px;
}

.chopped#image3 {
  bottom: 120px;
  left: 80px;
}

.chopped#image4 {
  top: 165px;
  left: 18px;
}

/* TUMBLED */
.tumbled#main-text1 {
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.tumbled#main-text2 {
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.tumbled#image1 {
  bottom: 156px;
  left: 153px;
}

.tumbled#image2 {
  top: 172px;
  left: 11px;
}

.tumbled#image3 {
  bottom: 176px;
  left: 155px;
}

.tumbled#image4 {
  top: 171px;
  left: 29px;
}

/* SLICED */
.sliced#main-text1 {
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.sliced#main-text2 {
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.sliced#image1 {
  bottom: 191px;
  left: 174px;
}

.sliced#image2 {
  top: 190px;
  left: 17px;
}

.sliced#image3 {
  bottom: 187px;
  left: 173px;
}

.sliced#image4 {
  top: 183px;
  left: 32px;
}

/* shaved */
.shaved#main-text1 {
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.shaved#main-text2 {
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}

/* image 1 not required for shaved variant */
.shaved#image1 {
  bottom: 191px;
  left: 174px;
}

.shaved#image2 {
  top: 186px;
  right: 215px;
}

.shaved#image3 {
  bottom: 186px;
  left: 217px;
}

.shaved#image4 {
  top: 179px;
  right: 237px;
}

/* NECTAR ROUNDEL PRICE AND COPY */

.nectar-copy {
  font-family: "Italian Plate No1 Expanded";
  font-weight: bold;
  color: #fff;
}

#nectar-price-copy {
  position: absolute;
  top: 14px;
  left: 29px;
  letter-spacing: -0.4px;
  font-size: 13px;
}

#nectar-price-cost {
  position: absolute;
  top: 29px;
  left: 15px;
  width: 93px;
  height: 38px;
  letter-spacing: -1px;
  text-align: center;
  font-size: 50px;
}

#normal-price-copy {
  position: absolute;
  top: 93px;
  left: 42px;
  font-size: 8px;
  text-align: center;
  line-height: 0.9;
}

#normal-price-cost {
  position: absolute;
  top: 74px;
  left: 15px;
  width: 50px;
  height: 20px;
  text-align: right;
  font-size: 50px;
}
